^^
$.import({
 lib: "buffer", 
 property: "Buffer"
});
$.import("crypto");
$$
var md5 = {
	encode: function(data){
		var buf = new Buffer(data);
	  var str = buf.toString("binary");
	  return crypto.createHash("md5").update(str).digest("hex");
	}
}
