function(^^=~['arguments', argv.args]$$){
^^for(var key in argv.args){
 var cfg = argv.args[key];
 if(cfg.default){$$
^^=~['content', ['default', [key, cfg.default]]], {newscope:1}$$
^^}}$$
 ^^if(argv.content){$$
^^=~['content', argv.content], {newscope:1}$$
 ^^}$$
}