function(^^=~['arguments', argv.args]$$){
^^
for(var key in argv.args){
 var cfg = argv.args[key];
 if(cfg.default){
	argv.content.unshift(['default', [key, cfg.default]])
 }
}
$$
^^if(argv.content){$$
	^^=~argv.content$$
^^}$$
}