function(^^=~['arguments', argv.arguments]$$){
^^for(var key in argv.arguments){
 var cfg = argv.arguments[key];
 if(cfg.default){$$
^^=~['content', ['default', [key, cfg.default]]], {newscope:1}$$
^^}}$$
 ^^if(argv.content){$$
^^=~['content', argv.content], {newscope:1}$$
 ^^}$$
}