function(^^=~argv.constructor$$){
^^=~['content', ['raw', "var self = this"]], {newscope:1}$$
^^for(var key in argv.constructor[1]){$$
^^=~['content', ['assign', [['property', key], key ]]], {newscope:1}$$
^^}$$
^^for(var key in argv){if(key != "constructor"){$$
^^=~['content', ['default', [['property', key], argv[key]]]], {newscope:1}$$
^^}}$$
}