^^console.log(argv)$$
function(){
	var self = this;
^^var i =0; for(var key in argv.args){$$
	self.^^=key$$ = arguments[^^=i$$];
^^i++;}$$
^^for(var key in argv.args){if(argv.args[key].default){$$
	^^=~['default', ["self."+ key, argv.args[key].default]]$$;
^^}}$$
}